
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap');
body {
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  background-image: url(assets/sfondo.png);
  width: 500px;
  padding: 40px;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}


#ns {
  border: 4px ;
  padding: 4px;
  width: 340px;
  height: 140px;
  background-color: rgb(216, 216, 216);
  text-align: center;
  margin-left:auto ;
  margin-right: auto;
}

header{
    background-image:linear-gradient(  to bottom, #2bafcf, #006f8a) ;
    color: white;
    padding: 50px;
    -webkit-box-shadow: -2px 10px 20px -5px #000000; 
box-shadow: -2px 10px 20px -5px #000000;
margin-bottom: 25px ;
display: inline-block;
}
#bianco{
    background-color: white;
    -webkit-box-shadow: -2px 10px 20px -5px #000000; 
 box-shadow: -2px 10px 20px -5px #000000;

}
iframe{
    padding: 40px;
   
    
}
 footer{
    background-image:linear-gradient(  to bottom, #0e3e4a, #0e5761) ;
    color: white;
    padding: 50px;
    -webkit-box-shadow: -2px 10px 20px -5px #000000; 
box-shadow: -2px 10px 20px -5px #000000;
margin-top: 25px ;
display: inline-block;
 }

 #menù{
    text-align: center;
 }
  th {
    background-color: rgb(55, 55, 255);
    
 }
 td{
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgrey;
 }
 
 